@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* color variables */
:root {
  --text-primary: #0e0e0e;
  --text-secondary: rgba(14, 14, 14, 0.8);
  --text-grey: rgba(14, 14, 14, 0.7);
  --bg-primary: #f5f5f5;
  --bg-secondary: #c6e4d6;

  --blue: #5490f5;
  --green: #09a15c;
  --orange: #ffc239;

  --blue-bg: rgba(84, 144, 245, 0.2);
  --green-bg: rgba(198, 228, 214, 1);
  --orange-bg: rgba(247, 235, 207, 1);

  --border-color: rgba(14, 14, 14, 0.15);
}
body {
  font-family: "Fira Sans", serif;
  background-color: var(--bg-primary);
}
/* common style */
.container {
  width: 1280px;
  margin: 0 auto;
}
.heading {
  font-size: 40px;
  font-weight: bold;
  color: var(--text-primary);
  margin-bottom: 1.5rem;
}
.sub-heading {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-secondary);
  margin-bottom: 1rem;
}
.description {
  font-size: 16px;
  font-weight: normal;
  color: var(--text-grey);
}
.mt-80 {
  margin-top: 80px;
}
.btn-primary {
  color: #fff;
  background: #006a50;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
}
/* common card design */
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.card {
  background-color: #fff;
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
}
.card-img {
  margin-bottom: 1.5rem;
}
/* nav section styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.logo {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-primary);
}
.sign-in > button {
  padding: 1rem 2rem;
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  background: transparent;
  border: 1px solid #006a50;
  border-radius: 8px;
  cursor: pointer;
}
/* banner section styles */
.banner-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: var(--bg-secondary);
  border-radius: 24px;
  padding: 80px 60px;
}
.banner-subtitle {
  font-size: 24px;
  font-weight: 400;
  color: var(--text-grey);
  margin-bottom: 1rem;
}
.banner-title {
  font-size: 56px;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 1.5rem;
}
