@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
/* color variables */
:root {
  --text-primary: #0e0e0e;
  --text-secondary: rgba(14, 14, 14, 0.8);
  --text-grey: rgba(14, 14, 14, 0.7);
  --bg-primary: #f5f5f5;
  --bg-secondary: #c6e4d6;

  --blue: #5490f5;
  --green: #09a15c;
  --orange: #ffc239;

  --blue-bg: rgba(84, 144, 245, 0.2);
  --green-bg: rgba(198, 228, 214, 1);
  --orange-bg: rgba(247, 235, 207, 1);

  --border-color: rgba(14, 14, 14, 0.15);
  --transition: 300ms ease all;
}
body {
  font-family: "Fira Sans", serif;
  background-color: var(--bg-primary);
}
/* common style */
.mt-80 {
  margin-top: 80px;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.heading {
  font-size: 40px;
  font-weight: bold;
  color: var(--text-primary);
  margin-bottom: 1.5rem;
}
.sub-heading {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-secondary);
  margin-bottom: 1rem;
}
.description {
  font-size: 16px;
  font-weight: normal;
  color: var(--text-grey);
}
/* common button styles */
.btn-primary {
  color: #fff;
  background: #006a50;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: var(--transition);
}
.btn-primary:hover {
  color: #006a50;
  background-color: transparent;
  border: 1px solid #006a50;
}
.btn-secondary {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
/* common card styles */
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.card {
  background-color: #fff;
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  transition: var(--transition);
}
.card-img {
  margin-bottom: 1.5rem;
}
/* nav section styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.logo {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-primary);
}
.sign-in > button {
  padding: 1rem 2rem;
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  background: transparent;
  border: 1px solid #006a50;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition);
}
.sign-in > button:hover {
  background-color: #006a50;
  color: #fff;
}
/* banner section styles */
.banner-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: var(--bg-secondary);
  border-radius: 24px;
  padding: 80px 60px;
}
.banner-subtitle {
  font-size: 24px;
  font-weight: 400;
  color: var(--text-grey);
  margin-bottom: 1rem;
}
.banner-title {
  font-size: 56px;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 1.5rem;
}
/* pillar styles */
.pillars .card {
  max-width: 18.8rem;
  cursor: pointer;
}
.pillars .card:hover {
  transform: scale(1.02);
}
/* vision styles */
.vision-container > .description {
  margin-bottom: 2rem;
}
.vision .card-container .card {
  border: none;
  max-width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid transparent;
}
/* different (card + btn) background using 'nth-child pseudo class' */
.vision .card-container .card:nth-child(1) {
  background-color: var(--blue-bg);
}
.vision .card-container .card:nth-child(2) {
  background-color: var(--green-bg);
}
.vision .card-container .card:nth-child(3) {
  background-color: var(--orange-bg);
}
.vision .card-container .card:hover {
  background: transparent;
  border: 1px solid var(--border-color);
}
.vision-container .card > div {
  margin: 0.5rem 0;
}
.vision .card:nth-child(1) button {
  background: var(--blue);
}
.vision .card:nth-child(2) button {
  background: var(--green);
}
.vision .card:nth-child(3) button {
  background: var(--orange);
}
/* quote styles */
.quote > .card {
  background: url(assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top 1.5rem left 1.5rem;
  background-color: #fff;
}
.quote .first {
  margin-top: 2rem;
}
.quote .sub-heading {
  margin-bottom: 5px;
  margin-top: 1rem;
}
.quote .second {
  color: rgba(14, 14, 14, 0.6);
}
/* opinion section styles */
.table-wrapper {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}
table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 1.5rem;
}
th {
  text-align: left;
  background-color: var(--bg-secondary);
}
select {
  padding: 1rem 2rem;
  border-radius: 4px;
  background-color: var(--bg-secondary);
}
.opinion .sub-heading {
  color: var(--text-primary);
}
.opinion .description,
select {
  color: #0e0e0e;
  font-weight: 600;
}
/* news section styles */
.news > .container > .description {
  margin-bottom: 2rem;
}
.news .card {
  display: flex;
  margin: 1.5rem 0;
  border: none;
}
.news .card-img {
  margin-bottom: 0;
}
.news .card-img img {
  margin: 1.5rem;
  border-radius: 1.5rem;
}
.news .card-info {
  margin: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news .card-info > .heading {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 0;
}
/* taka section styles */
.donate .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donate .container > .heading,
.donate .container > .description {
  text-align: center;
  max-width: 1104px;
}
.taka h1 {
  font-size: 40px;
  font-weight: bold;
  color: var(--text-primary);
}
.taka-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.taka {
  background-color: #fff;
  padding: 2.5rem;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--transition);
}
.taka:hover {
  background-color: var(--bg-secondary);
  border: 1px solid transparent;
}
.taka-input input[type="text"] {
  margin: 2rem 0;
  padding: 1.2rem 2.4rem;
  font-size: 20px;
  font-weight: normal;
  border: 1px solid rgba(14, 14, 14, 0.15);
  min-width: 64.5rem;
}
.taka-input ::placeholder {
  color: rgba(14, 14, 14, 0.3);
}
/* newsletter section */
.newsletter .container {
  background: var(--bg-secondary);
  padding: 5rem 16rem;
  border-radius: 1.5rem;
}
.newsletter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 14.5rem;
}
.newsletter-wrapper .heading {
  margin: 0;
}
.newsletter-wrapper .description {
  text-align: center;
  max-width: 620px;
}
.input-group {
  width: 100%;
  display: flex;
  gap: 0;
}
.input-group input[type="email"] {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 1rem;
}
.input-group input[type="submit"] {
  padding: 1rem 2rem;
  border: none;
  color: #fff;
  background: #006a50;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
/* footer style */
.footer {
  background: #fff;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 50px 0;
}
.footer .heading {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-primary);
}
.footer hr {
  width: 70rem;
  border: 1px solid rgba(14, 14, 14, 0.1);
}
.footer .social-icons {
  display: flex;
  gap: 1.5rem;
}
.footer .social-icons img {
  cursor: pointer;
}
